.catalog {
    padding: 54px 0 53px 0;
    &__tabs {
        margin-top: 69px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        margin: 0 5px;
        width: 200px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        line-height: 47px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        transform: skewX(-22deg);
        cursor: pointer;
        transition: .3s all;
        &:hover {
            border: 2px solid $button-color;
            box-shadow: 0 0 6px 1px $button-color;
        }
        div {
            transform: skewX(22deg);
        }
        &_active {
            color: #ffffff;
            background-color: $button-color;
            border: 2px solid black;
            &:hover {
                border: 2px solid black;
                box-shadow: none;
            }
        }
    }
    &__content {
        margin-top: 59px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
		}
	}
    &-item {
        width: 300px;
        min-height: 340px;
        padding: 18px 20px 26px 20px;
        border: 2px solid #e8e8e8;
        overflow: hidden;
        margin-bottom: 20px;
        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
		}
        &__descr {
            margin-top: 14px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            text-align: center;
		}
        &__link {
            margin-top: 16px;
            display: block;
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            text-align: center;
            color: $button-color;
            &:hover {
                color: $button-color;
			}
		}
        hr {
            margin-top: 20px;
            background-color: #e8e8e8;
            border-bottom: none;
            margin-bottom: 21px;
		}
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}
        &__old-price {
            font-size: 14px;
            line-height: 12px;
            font-weight: 300;
            text-decoration: line-through;
            color: #555555;
		}
        &__price {
            margin-top: 6px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 700;
            color: #050505;
		}
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
		}
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-108%);
            transition: 0.5s all;
            &_active {
                margin-right: 20px;
                transform: translateX(0%);
			}
		}
        &__list {
            width: 50%;
            margin-left: 20px;
            padding-right: 20px;
            transform: translateX(1%);
            transition: 0.5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                margin-left: 0px;
                transform: translateX(-100%);
			}
            ul {
                padding-left: 0;
                li {
                    position: relative;
                    top: -3px;
                    left: -1px;
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 300;
                    color: #555555;
                    margin-bottom: 16px;
                    list-style-type: none;
                    &:last-child {
                        margin-bottom: 0;
					}
                    &::before {
                        position: absolute;
                        content: '';
                        top: 5px;
                        left: -20px;
                        width: 5px;
                        height: 5px;
                        background-color: #c70101;
					}
				}
			}
		}
        &__back {
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(calc(-50% - 10px));
            display: block;
            color: #c70101;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: #c70101;
			}
		}
	}
}
            
                    
