.consultation {
    min-height: 421px;
    padding: 92px 0 92px 0;
    background: url(../img/bg_main.jpg) center (center/cover) no-repeat;
    &__descr {
        margin-top: 71px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #fff;
    }
    label.error {
        color: #fff;
    }
}